In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
# !pip install pandas
# !pip show pandas
import sys
print(sys.executable)
!{sys.executable} -m pip install pandas



import pandas as pd

c:\Users\mheme\AppData\Local\Programs\Python\Python39\python.exe
Requirement already satisfied: pandas in c:\users\mheme\appdata\local\programs\python\python39\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\mheme\appdata\roaming\python\python39\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\mheme\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: numpy>=1.20.3 in c:\users\mheme\appdata\local\programs\python\python39\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: six>=1.5 in c:\users\mheme\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.8.1->pandas) (1.17.0)

In [3]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.test

'wget' is not recognized as an internal or external command,
operable program or batch file.
'wget' is not recognized as an internal or external command,
operable program or batch file.

In [4]:
import os
if not os.path.exists("adult.names"):
    !wget https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.names

In [5]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 1EF3-E329

 Directory of c:\Users\mheme\OneDrive\Desktop\smGAN-main\smGAN-main\data\adult

12/18/2024  08:41 PM    <DIR>          .
12/18/2024  04:57 PM    <DIR>          ..
12/17/2024  11:18 PM    <DIR>          .ipynb_checkpoints
12/17/2024  10:22 PM    <DIR>          .jupyter
12/18/2024  10:20 AM         5,326,365 adult.csv
12/17/2024  11:43 PM         3,974,305 adult.data
12/17/2024  10:22 PM             5,229 adult.names
12/17/2024  11:43 PM         2,003,153 adult.test
12/18/2024  10:24 AM            48,144 adult-income-download.ipynb
12/18/2024  12:08 AM           174,335 adult-income-exploration.ipynb
12/18/2024  10:20 AM            11,123 demo.csv
               7 File(s)     11,542,654 bytes
               4 Dir(s)  334,396,788,736 bytes free

In [6]:
with open("adult.names", "r") as f:
    names = f.read().strip().split('\n')

In [7]:
col_names = names[96:]
col_names

['age: continuous.',
 'workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.',
 'fnlwgt: continuous.',
 'education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.',
 'education-num: continuous.',
 'marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.',
 'occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.',
 'relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.',
 'race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.',
 'sex: Female, Male.',
 'capital-gain: continuous.',
 'capital-loss: continuous.',
 'hours-per-week: continuous.',
 'native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.']

In [8]:
adult_columns = [i.split(":")[0] for i in col_names]
adult_columns

['age',
 'workclass',
 'fnlwgt',
 'education',
 'education-num',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 'native-country']

In [9]:
num_cols = [i.split(":")[0] for i in col_names if i.split(":")[1].strip() == "continuous."]
print(len(num_cols))
num_cols

6

['age',
 'fnlwgt',
 'education-num',
 'capital-gain',
 'capital-loss',
 'hours-per-week']

In [10]:
cat_cols = [i.split(":")[0] for i in col_names if i.split(":")[1].strip() != "continuous."]
cat_cols

['workclass',
 'education',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'native-country']

In [11]:
cat_cols = cat_cols + ["income"]
print(len(cat_cols))

9

In [12]:
adult_columns = adult_columns + ["income"]
adult_columns

['age',
 'workclass',
 'fnlwgt',
 'education',
 'education-num',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 'native-country',
 'income']

In [13]:
adult_train = pd.read_csv("adult.data", names=adult_columns)
print(adult_train.shape)
adult_train.head()

(32561, 15)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [14]:
for col in adult_train.columns:
    if col in cat_cols:
        adult_train[col] = adult_train[col].apply(lambda x: x.strip())

In [15]:
adult_train["race"].value_counts().keys()

Index(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo', 'Other'], dtype='object')

In [16]:
adult_train[adult_train["race"] == "White"].head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K

In [17]:
adult_train.income.value_counts()

<=50K    24720
>50K      7841
Name: income, dtype: int64

In [18]:
adult_train.to_csv("train.csv", index=None)

In [19]:
adult_test = pd.read_csv("adult.test", names=adult_columns, skiprows=1)
print(adult_test.shape)
adult_test.head()

(16281, 15)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K.
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K.
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K.
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K.

In [20]:
for col in adult_test.columns:
    if col in cat_cols:
        adult_test[col] = adult_test[col].apply(lambda x: x.strip())
adult_test["income"] = adult_test["income"].apply(lambda x: x.strip("."))

In [21]:
adult_test.income.value_counts()

<=50K    12435
>50K      3846
Name: income, dtype: int64

In [22]:
adult_test.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [23]:
adult_test.to_csv("test.csv", index=None)

In [24]:
adult_all = pd.concat([adult_train, adult_test])
adult_all.to_csv("adult.csv", index=None)

In [25]:
adult_demo = adult_train.sample(100, random_state=1000)
adult_demo.reset_index(inplace=True, drop=True)
adult_demo.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,37,State-gov,24342,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,38,United-States,<=50K
1,47,Private,192835,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,50,United-States,>50K
2,21,Private,50341,Some-college,10,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,38,United-States,<=50K
3,25,Private,144478,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,40,Poland,<=50K
4,29,Private,367706,Some-college,10,Never-married,Adm-clerical,Own-child,Black,Male,0,0,40,United-States,<=50K

In [26]:
adult_demo.to_csv("demo.csv", index=None)

In [27]:
adult_all.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
income            object
dtype: object

In [28]:
df = adult_train.copy()
for i in cat_cols:
    df[i] =df[i].astype('category').cat.codes

In [29]:
corr =  df.corr()
corr['income']

age               0.234037
workclass         0.051604
fnlwgt           -0.009463
education         0.079317
education-num     0.335154
marital-status   -0.199307
occupation        0.075468
relationship     -0.250918
race              0.071846
sex               0.215980
capital-gain      0.223329
capital-loss      0.150526
hours-per-week    0.229689
native-country    0.015840
income            1.000000
Name: income, dtype: float64

In [30]:
import sys
from pathlib import Path
!{sys.executable} -m pip install cpgan_hb

sys.path.append("../../../")
sys.path.append("../../")
from cpgan_hb.metrics import utility

ERROR: Could not find a version that satisfies the requirement cpgan_hb (from versions: none)
ERROR: No matching distribution found for cpgan_hb

ModuleNotFoundError: No module named 'cpgan_hb'

In [ ]:
f1_score = utility.efficacy_test(fakedata=adult_train, realdata=adult_test, target_name="income")
print(f1_score)

In [ ]:
! rm adult.data 
! rm adult.test

In [ ]:
ls

In [ ]:
!pip install gpt4all